{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
	<title>Log in</title>
{% endblock %}

{% block content %}
	<h1>Log in</h1>
  
  {% if form.errors %}
  	<p>Invalid credential</p>
  {% endif %}
  
  <form action="{% url "login" %}" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" class="btn btn-primary">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
  
{% endblock %}
